@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800");
body {
    font-size: 15px;
    font-family: 'Montserrat', sans-serif !important;
    font-weight: 500;
    background: #F4F7FA;
}

a {
    color: #000000;
}

p {
    margin-bottom: 0;
}

* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.text-center {
    text-align: center;
}

.bcp-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.bcp-justify-content-between {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.bcp-align-items-center {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.search-block {
    padding: 15px;
    background-color: #ffffff;
    border-radius: 5px;
    border: 30px solid #f4f7fa;
}
.search-block p {
    font-size: 13px;
    font-weight: 500;
    line-height: 17px;
}

.search-block p a {
    color: #00A8FF;
    text-decoration: none;
}

.search-block .bcp-form-group input {

    -webkit-box-shadow: 0px 0px 4.75px 0.25px rgba(0, 0, 0, 0.05);
    box-shadow: 0px 0px 4.75px 0.25px rgba(0, 0, 0, 0.05);
    width: 100%;
    padding: 16px 12px;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #ffffff;
    background-clip: padding-box;
    border: 1px solid #00A8FF;
    border-radius: 5px;
    display: inline-block;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.search-block .bcp-form-group input:focus {
    border: 1px solid #00A8FF;
    outline: 0;
}

.bcp-form-group button.search_solutions_btn {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.search-block .bcp-btn {
    background-color: #00A8FF;
    line-height: 21px;
    border: 0;
    text-decoration: none;
    color: #ffffff;
    text-transform: capitalize;
    font-size: 12px;
    font-weight: 500;
    border-radius: 8px;
    padding: 8px 20px;
    margin: 0;

}

.not-found-block .dcp-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-top: 25px;
}

.not-found-block .dcp-flex p {
    margin: 0;
    margin-right: 20px;
}
.not-found-block .dcp-flex .bcp-btn{
    padding: 8px 15px;
}
.not-found-block .dcp-flex .bcp-btn span.icon {
    font-weight: 700;
    font-size: 22px;
    position: relative;
    top: 3px;
    left: 0;
    margin-right: 15px;
} 

.acc__title {
    cursor: pointer;
    display: block;
    padding: 17px 0;
    position: relative;
    text-align: left;
    border-radius: 5px;
    font-weight: 700;
    padding-left: 50px;
    font-size: 14px;
    border-top: 1px solid #e4e4e4;
}
.accordian:first-child .acc__title {
    border-top: initial;
}

.accordian .acc__title::after {
    width: 8px;
    height: 8px;
    border-right: 2px solid #000000;
    border-bottom: 2px solid #000000;
    position: absolute;
    left: 18px;
    content: '';
    -webkit-transform: rotate(-45deg) translateY(-50%);
    transform: rotate(-45deg)  translateY(-50%);
    top: 50%;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}
.accordian .acc__title.active::after {
    -webkit-transform: rotate(45deg) translateY(-45%);
    transform: rotate(45deg) translateY(-45%);
    top: 45%;
}
.accordian:nth-child(odd) {
    background-color: #fff;
}

.lnr-thumbs-up:before, .lnr-thumbs-down:before {
    font-weight: bold;
}
.accordian:nth-child(even) {
    background-color: #f5f5f5;
}
.accordian .acc__card {
    border-radius: 5px;
    overflow: hidden;

}
@media (max-width: 768px) {
    .acc__title::after {
        top: 30px;
    }

}

.accordian .acc__title::before {
    content: " ";
    top: 0;
    bottom: 0;
    left: 0;
    width: 50px;
    display: inline-block;
    position: absolute;
}


.acc__title .like-block {
    position: absolute;
    right: 36px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.acc__title .like-block p {
    padding-left: 32px;
    font-size: 15px;
    margin: 0;
    margin-right: 30px;
    position: relative;
    font-weight: normal;
}
.acc__title .like-block p:last-child{
    margin: initial;
}
.acc__title .like-block p span.lnr {
    font-size: 18px;
    margin-right: 15px;
    position: absolute;
    left: -11px;
    top: 50%;
    background: #E6E6E6;
    padding: 7px;
    border-radius: 50%;
    transform: translateY(-50%);
}


.accordian-wrapper {
    border: 1px solid #e4e4e4;
    border-radius: 5px;
}

@media (max-width: 767px) {
    .accordian .acc__title::after {
        top: 28px;
    }
    .accordian .acc__title.active::after {

        top: 25px;
    }
    .acc__title .like-block {
        position: relative;
        right: auto;
        -webkit-transform: none;
        transform: none;
        top: auto;
        margin-top: 10px;
    }
    .search-block .bcp-form-group input{
        width: 78%;
    }
}

.acc__panel {
    display: none;
    margin: 0;
    padding: 8px 20px 20px 50px;
    text-align: left;
    font-size: 13px;
    font-weight: 400;
    line-height: 18px;
    word-break: break-all;
}

.acc__panel p {
    font-size: 15px;
}

.acc__panel ul {
    margin-top: 25px;
}

.acc__panel ul li {
    list-style: none;
}

.solution-found-block h3, .search-block h2 {
    font-size: 20px;
    /* padding: 15px 0; */
    font-weight: 700;
    text-transform: capitalize;
    margin-bottom: 15px;
    color: #00a8ff;
    line-height: 30px;
}
.solution-found-block .dcp-flex {
    margin-top: 30px;
}
.bcp-form-group{
    display: flex;
    margin-top: 23px;
    margin-bottom: 18px;
}
.bcp-form-group .lnr-magnifier{
    font-size: 24px;
    font-weight: bold;
}
.bcp-form-group .search-btn{
    background-color: #00a8ff;
    color: #fff;
    width: 80px;
    margin: auto;
    border: 0;
    min-height: 54px;
    cursor: pointer;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.bcp-form-group .search-btn:focus{
    border: 0;
    outline: 0;
}
/* Global search css start here*/
.global-search {
    padding: 30px;
    display: inline-block;
    width: 100%;
}

.global-search .global-result-block {
    background: #ffffff;
    padding: 25px 15px;
    margin-top: 30px;
    -webkit-box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.05);
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.05);
    border-radius: 5px;
}

.global-search .global-result-block h3 {
    font-size: 23px;
    font-weight: 500;
    margin-bottom: 20px;
}

.global-search .global-result-block table {
    width: 100%;
    border-collapse: collapse;
}

.global-search .global-result-block table tr:nth-child(odd) {
    background: #f9f9f9;
}

.global-search .global-result-block table td {
    padding: 10px;
}

.global-search .global-result-block table td:first-child {
    width: 70%;
}

.global-search .global-result-block table td p {
    display: inline-block;
}

.global-search .global-result-block table .text-right {
    text-align: right;
}

.global-search .bcp-table-responsive {
    overflow: auto;
}

@media (min-width: 768px) {
    .acc__title {
        padding-right: 165px;
    }
    .solution-found-block h3, .search-block h2 {
        font-size: 25px;
        line-height: 35px;
    }
    .search-block {
        padding: 29px 56px 50px;
    }
    .not-found-block .dcp-flex p {
        margin-right: 25px;
    }
    .search-block .bcp-btn { padding: 8px 28px; }
    .not-found-block .dcp-flex .bcp-btn{
        padding: 8px 24px;
    }
}
@media (min-width: 1024) {
    .solution-found-block h3 {
        font-size: 30px;
        margin-bottom: 40px;
        line-height: 40px;
    }
}
#solutionlist-items .not-found-block .dcp-flex .bcp-btn .icon.lnr-plus-circle {
    font-size: 18px;
}
/*# sourceMappingURL=style.css.map */